body {
    background: #ebebeb;
    width: 800px;
    height: auto;
    /* Lägg webbsidan i mitten */
    margin: 0 auto;
    
    /* Ram på body */
    border-width: 1px;
    border-style: solid;
    border-color: #7c7c7c;
    
    /* Avstånd till innehåll */
    padding: 20px;
}

/* Typografi */

h1 {
      color:green;      /* Ändra färg på texten*/
      font-weight: 100;  /* Göra texten smalare */
      font-family: arial;  /* Byta typsnitt */
      font-size: 34px;  /* Ändra storleken på texten */
}
h3 {
        color: green;
        font-family: arial;
   
}

p {
    font-family: arial; /* Byta typsnitt */
    font-size: 14px; /* Ändra storleken på texten */
    line-height: 150%;/* Ändra radavståndet */
}

/* Länkar */
a {
    color:red;
}

/* Styling inuti body */

img.flexBild {
    width: 20%;
    display: inline-block;
}

.textContent {
    display: inline-block;
    width: 75%;
}
.logo {
    margin-bottom: 20px;
}












