body {
    background: #780206;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #061161, #050d4d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #061161, #050d4d ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: inherit;
}
h1 {
    color: white;
    text-shadow: 1px 1px 5px black;
    font-size: 3vmax
}
.wrapper {
    margin: 0 auto;
    width: 80%;
}
section, figure, header, nav {
    margin: 10px 0;
}
figure {
    img {
        width: 100%;
    }
}
section {
    min-width: 100%;
    min-height: 300px;
    background:black;
}
nav {
    background:black;
    min-width: 100%;
    height: 75px;
    ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
    }
}
