body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Source Sans Pro;
}
h1 {
    margin: 10px;
    color: white;
    text-shadow: 1px 1px 5px black;
    font-size: 3vmax
}
.wrapper {
    margin: 0 auto;
    width: 60%;
}
nav, .contentBox, footer {
    background: rgba(10, 10, 10, 0.75);
}
.contentBox, footer {
    padding: 10px;
    min-width: 100%;
    margin: 10px 0;
}
figure {
    padding: 0px;
    box-sizing: border-box;
    img {
        width: 100%;
    }
}
.usefulLinks, footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}
form {
    display: flex;
    justify-content: center;
    margin: 0;
    input, button {
        margin: 0 5px;
    }
}
nav {
    min-width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    a {
        font-size: 1vmax;
        font-family: inherit;
        padding: 10px 20px;
        color: white;
    }
    section {
        display: flex;
        align-items: center;
        max-height: 50px;
        padding: 10px;
        a {
            text-decoration: none;
            font-size: 20px;
            padding: 10px;
        }
    }
}
