html
    head
        link(rel="stylesheet" href="assets/css/main.css")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
    body
    
        div.wrapper
            header
                nav
                    ul
                        li Home
                        li New
                        li Media
                        li(class="play") Play Now
                        label.switch
                            input(type="checkbox")
            section.introductionParent
                h1 
                    | Meet 
                    span(class="gametitle") blank
                    br
                    | a game about
                h2 exploration, grind & sandbox
            section.headerBackground
                img(src="https://cdn.discordapp.com/attachments/431665861506367488/538193685926379540/unknown.png")