html
    head
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="assets/css/main.css")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
    body
    
        div.wrapper
            header
                h1 What an awesome site!
            nav
                a Item1
                a Item2
                a Item3
                a Item4
                a Item5
                a Item6
                section
                    a(href="#", class="fa fa-twitter")
                    a(href="#", class="fa fa-facebook")
                    a(href="#", class="fa fa-instagram")
                    a(href="#", class="fa fa-snapchat")
            figure.contentBox
                img(src="assets/images/city.jpg", alt="")
            section.contentBox.usefulLinks
                a A simple video to help you master flexbox
                a Sign up today to grab all the videos and exclusives
            section.contentBox
                form
                    input(placeholder="Your name" type="text")
                    input(placeholder="Email Adress" type="email")
                    button(type="submit") Skicka
            footer
                p Copyright Jonathan Eriksson
