html
    body
        div.wrapper
            header
                nav
                    ul
                        li Home
                        li Home
                        li Home
                        label.switch
                            input(type="checkbox")
            section.headerBackground
    head