body {
    padding: 0;
    margin: 0;
    font-family: Open Sans;
}
.head h2 {
    font-size: 40px;
    margin: 20px;
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
}
hr {
    width: 95%;
    height: 3px;
    background: #84ace2;
    border: 0;
}
p {
    font-size: 18px;
    font-weight: 100;
    color: #ffffff;
    margin: 0px 30px 0px 30px;
    
}
article {
    padding: 10px 30px;
}
header {
    display: flex;
    justify-content: center;
    align-content: center;
}
header h1 {
    font-size: 50px;
    margin: 20px;
    color: #ffffff;
    font-weight: 400;
}
h3 {
    margin: 0px 20px;
    font-size: 15px;
    font-weight: 200;
    color: #ffffff;
}
.wrapper {
    margin: 0 auto;
    max-width: 960px;
    min-height: 1080px;
    background: #2c3e50;    
}
.head {
    display: flex;
    justify-content: space-between;
}
.blogpost {
    margin: 5px;
    border-left: 5px;
    border-color: #d0493c;
    border-left-style: solid;
    padding: 5px;
    background: #34495e;
    border-radius: 5px 5px
}
.blogpost-content {
    margin: 10px; 
}
.authorsig {
    display: flex;
    align-items: center;
    margin: 10px;
}
img {
    height: 30px;
    
}
.authorsig p {
    margin: 0px;
}