#heroStatus {
    display: flex;
    flex-direction: row;
}
p {
    margin: 5px;
}
#image {
    width: 300px;
}
button {
    min-width: 90px;
    height: 25px;
}
.disabledButton:disabled {
    background: #444444;
}
