@charset "utf-8";
body {
    background: rgb(40, 40, 40);
    font-family: Roboto;
    padding: 20px;
}
.wrapper {
    margin: auto;
    padding: 20px 0;
    width: 60%;
    position: relative;
}
header {
    display: flex;
    align-items: center;
}
.year-divider {
    border: 3px solid #212121;
}
#color-button {
    border: 0;
    background: 0;
    font-size: 30px;
}
.color-picker-parent {
    display: flex;
}
.color-picker-color {
    height: 50px;
    width: 50px;
}
#colorpicker {
    text-shadow: 0px 0px 3px #000;
    font-size: 30px;
    border: 0;
    background: transparent;

}
.colpick {
    z-index: 4444444;
}
main {
    display: flex;
    flex-direction: column;
}
.grid-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212121;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 50px;
}
.grid-header h2 {
    font-size: 1.75em;
    font-weight: 400;
    color: white;
    margin: 0;
}

.grid-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    padding: 10px 0;
    border-color: #276FBF;
    position: relative;
}
.dropdown {
    display: grid;
    grid-template-columns: repeat(auto-fill, (100px, 100px, 100px));
    width: 100%;
    height: 100%;
    z-index: 999;
}

.dropdown-content {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.year1 {
    display: flex;
    flex-direction: column;
}
.year1-extra {
    display: flex !important;
    flex-direction: column;
}
.grid-type {
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.5);
    display: grid;
}

/* Typography */

.year2 .item3 a {
    font-size: 30px;
}
.dir::after {
    display: inline-block;
    border-top: 15px solid transparent;
	border-left: 20px solid #555;
    border-bottom: 15px solid transparent;
    background: transparent;
    content: "";
}
h1 {
    background: #555;
    color: white;
    text-shadow: 1px 1px 5px #000;
    font-size: 40px;
    font-weight: 300;
    margin: 10px;
}
.grid-item:hover {
    box-shadow: none;
}
.dropdown-content {
}
.item1 {
    background: #C62828;
}
.item2 {
    background: #C62828;
}
.item3 {
    background: #1b1b1b;
}
.dropdown .item1:hover {
    background: #7e1c1c;
}
.dropdown .item2:hover {
    background: #761818;
}

.grid-item a, .grid-item h3 {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.5;
    color: white;

}
.dropdown-content h3 {
    text-align: center;
    font-weight: 300;
    text-shadow: 2px 2px 5px #000;
    margin: 0;
}
.dropdown-content i {
    margin: 0 5px 0 0;
}
.grid-item:hover .dropdown {
    background: black;
}
.modal-dialog {
    min-width: 1000px;
}
.modal, .modal-content {
    width: 100%;
}
.modal h2 {
    font-size: 16px;
}