@charset "utf-8";
body {
    background: #F6F4F3;
    font-family: Roboto;
    transition: 10s background;
}
.wrapper {
    margin: auto;
    width: 80%;
    position: relative;
}
header {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
main {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
}
.header-top {
    display: flex;
    align-items: center;
}
.header-bottom {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 15px;
    background: #212121;
    color: white;
    border-radius: 10px;
    border:
}
.header-bottom h4, .header-bottom h3 {
    font-size: 18px;
    padding: 0;
    margin: 0 5px;
}
.header-bottom h3 {
    font-weight: 500;
}
.header-bottom h4 {
    font-weight: 300;
}
.year-divider {
    margin: 0 20px;
}
.year-large {
    width: 50%;
}
.year-small {
    width: 30%;
}
#color-button {
    border: 0;
    background: 0;
    font-size: 30px;
}
.color-picker-parent {
    display: flex;
}
.color-picker-color {
    height: 50px;
    width: 50px;
}
#colorpicker {
    text-shadow: 0px 0px 3px #000;
    font-size: 30px;
    border: 0;
    background: transparent;

}
.grid-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212121;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 50px;
    margin: 5px 0;
}
.grid-header h2 {
    font-size: 1.75em;
    font-weight: 400;
    color: white;
    margin: 0;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    transition: all 0.5s;
    border-color: #276FBF;
    position: relative;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.dropdown {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(24, 48, 89);
    z-index: 999;
    transition: all 1;
}

.dropdown-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(24, 48, 89);
}
.year1 {
    grid-template-columns: 1fr 1fr;
}
.year1-extra {
    grid-template-columns: 1fr;
}
.grid-type {
    display: grid;
    grid-gap: 5px;
}

/* Typography */

.year2 .item3 a {
    font-size: 30px;
}

h1 {
    color: black;
    font-size: 40px;
    font-weight: 300;
    margin: 10px;
}
.item1 {
    background: #C62828;
}
.item2 {
    background: #283593;
}
.item3 {
    background: #1b1b1b;
}
.item1:hover {
    background: #761818;
}
.item2:hover {
    background: #181f57;
}

.grid-item a, .grid-item h3 {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.5;
    color: white;

}
.dropdown-content h3 {
    text-align: center;
    font-weight: 300;
    text-shadow: 2px 2px 5px #000;
    margin: 0;
}
.dropdown-content i {
    margin: 0 5px 0 0;
}
.grid-item:hover .dropdown {
    transition: all 10s;
    background: black;
    display: grid;
    grid-template-columns: repeat(auto-fill, (100px, 100px, 100px));
}
.modal-dialog {
    min-width: 1000px;
}
.modal, .modal-content {
    width: 100%;
}
.modal h2 {
    font-size: 16px;
}